.section-incoming-ceremonies .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2em;
  font-family: var(--ff-headings);
}

.ceremonies-container {
  position: relative;
  width: 100%;
  display: flex;
  gap: 50px;
  padding: 3em 0em;
  overflow: hidden;
}

.ceremony-item {
  min-width: calc(25% - 50px);
  max-width: calc(25% - 50px);
  display: flex;
  flex-direction: column;
  gap: 2em;
  background-color: var(--secondary-clr);
  color: var(--primary-clr);
  padding: 1.5em;
}

.ceremony-item:first-of-type {
  margin-left: 0;
  transition: margin 0.3s ease-in-out;
}

@media (max-width: 1550px) {
  .ceremony-item {
    min-width: calc(34% - 50px);
    max-width: calc(34% - 50px);
  }
}

@media (max-width: 1234px) {
  .ceremony-item {
    min-width: calc(50% - 50px);
    max-width: calc(50% - 50px);
  }
}

@media (max-width: 950px) {
  .ceremony-item {
    min-width: 100%;
    max-width: 100%;
  }
}

.dead-info h2 {
  margin: 0;
}

.dead-info,
.ceremony-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
  color: var(--accent-clr);
}

.dead-photo {
  margin-bottom: 1em;
}

.ceremonies-controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control-arrow {
  height: 50px;
  transition: transform 0.3s ease-in-out;
}

.control-arrow:hover,
.control-arrow:focus {
  cursor: pointer;
  transform: scale(1.2);
}
